/*--- global style --*/
body{
	width: 1200px;
	margin: auto;
	background-color: #99e6ff;
}

main{
	background-color: #FFF;
	opacity: 10;
}

ul{
	list-style: none;
}

article{
	padding: 5%;
}

.weblink{
	color: #FFF;
	text-decoration: none;
}

.weblink:hover {
	color: #e60000;
	font-size:150%;
}

.banner-img{ 
	height: 150px;
	width: 150px; 
	align-self: center;
}

.nav-list{
	padding-left: 0px;
	border-bottom: 1px black;
}

.nav-li{
	float: left;
	padding-left: 25px;
	list-style: none;
}

img{
	 border: 0.5px double black;
}

.grid-footer{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'copyright statement';
	grid-column-gap: 710px;
	background-color: #52527a;
	border-top: 3px solid red;
}

.grid-copyright{
	grid-area: copyright;
	color: #FFF;
	margin: 3%;
}

.grid-cookie-statement{
	grid-area: statement;
	background-color: #FA0;
	color: #FFF;
	z-index: 999;
	opacity: 50%;
	margin: 3%;
}


label{
	margin-right: 20px;
}

.form-li{
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	width: 320px;
}

/*--- hamburger-menu --*/
.dropbutton {
	display: none;
	background-color: #52527a;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	grid-area: menu;
}

.dropdown {	
  position: relative;
  display: none;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  display: grid;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: grid;
}

.dropdown:hover .dropbutton {
	background-color: #e60000;
}

/*--- hamburger-menu for home page --*/

.dropbutton-index {
	display: none;
	background-color: #52527a;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown-index {	
  position: relative;
  display: none;
}

.dropdown-content-index {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  flex-direction: column;
}

.dropdown-content-index a {
  color: black;
  display: flex;
}

.dropdown-content-index a:hover {
	background-color: #ddd;
}

.dropdown-index:hover .dropdown-content-index {
	display: flex;
}

.dropdown-index:hover .dropbutton-index {
	background-color: #e60000;
}


/*--- css for index page --*/
#index-body{
	display: flex;
	flex-direction: column;
}

#index-main{
	display: flex;
	flex-direction: row;
}
#index-section{
    display: flex;
	justify-content: flex-start;
    flex-direction: column;
	width: 70%;
}

#index-aside{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin-right: 4%;
}

#index-header{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-image: url("../img/background.jpg");
}

#index-footer{
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #52527a;
	border-top: 3px solid #ff1a1a;
}

#movie-pc{
	width: 100%;
}

#movie-phone{
	width: 100%;
	display: none;
}

.nav-header{
	background-color: #52527a;
	padding-bottom: 5px;
	border-bottom: 3px solid #ff1a1a;
}
.index-figure{
	display: flex;
	flex-direction: column;
	float: right;
}

.index-li-aside{
	padding: 2%;
	border-bottom: 1px solid black;
}

.index-img{
	height: 150px;
	width: 150px;
}

#cookie-statement{
	background-color: #FA0;
	color: #FFF;
	opacity: 50%;
	z-index: 999;
	margin-right: 3%;
}

#index-copyright-statement{
	margin-left: 3%;
	color: #FFF;
}

#page-title{
	color: #FFF;
	margin-left: 3%;
}
/*--- css for product page --*/
.products-header{
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr;
	grid-template-rows: 0.2fr 0.2fr 0.2fr;
	grid-template-areas:
	'. banner .'
	'title title title'
	'nav nav nav';
	background-image: url("../img/background.jpg");
}

.grid-banner-img{
	grid-area: banner;
	height: 150px;
	width: 150px; 
}

.grid-header-title{
	grid-area: title;
	color: #FFF;
	margin-left: 3%;
}

.grid-nav-header{
	grid-area: nav;
	background-color: #52527a;
	padding-bottom: 5px;
	border-bottom: 3px solid #ff1a1a;
}

#products-main{
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr;
	grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr; 
	grid-template-areas:  
	'article-2 article-1 article-3'
    'article-2 article-1 article-3'
    'article-5 article-1 article-3'
    'article-5 article-1 article-4'
    'article-5 article-1 article-4'
    'article-5 article-1 article-4'
    'article-5 article-6 article-6';
}

#products-article-1{
	grid-area: article-1;
}

#products-article-2{
	grid-area: article-2;
}

#products-article-3{
	grid-area: article-3;
}

#products-article-4{
	grid-area: article-4;
}

#products-article-5{
	grid-area: article-5;
}

#products-article-6{
	grid-area: article-6;
}

#products-aside{
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr;
    gap: 1.5rem;
	grid-template-areas: 
	'img-1 img-2 img-3';
	background-color: #FFF;
}

.products-img{
	height: 150px;
	width: 150px; 
}

#products-img-1{
	grid-area: img-1; 
}

#products-img-2{
	grid-area: img-2;
}

#products-img-3{
	grid-area: img-3;
}

/*--- pricing page css --*/

#pricing-main{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.5fr 0.5fr 0.5fr;
	grid-template-areas:
	'pricing-article pricing-article pricing-article'
	'price-table price-table price-aside'
	'footer footer price-aside';
}

#pricing-article{
	grid-area: pricing-article;
}

#price-aside{
	grid-area: price-aside;
}

#pricing-table{
	grid-area: price-table;
	margin-left: 5%;
}
#pricing-table-footer{
	 grid-area: footer;
	 margin-left: 5%;
 }


#pricing-aside{
    display: grid;
	grid-area: price-aside;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 0.5fr 0.5fr;
    gap: 1.5rem;
	grid-template-areas: 
	'price-img-1'
	'price-img-2'
	'price-img-3';
}

#pricing-img-1{
	grid-area: price-img-1;
}
#pricing-img-2{
	grid-area: price-img-2;
}
#pricing-img-3{
	grid-area: price-img-3;
}

table, th, td {
  border: 0.5px solid black;
}

/*--- contact page css--*/
#contact-main{
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr;
	grid-template-rows: 0.5fr 0.5fr 0.5fr;	
	grid-template-areas: 
	'form form contact-aside'
	'form form contact-aside'
	'form form contact-aside';
}

#contact-form{
	grid-area: form;
}


#contact-aside{
    display: grid;
	grid-area: contact-aside;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 0.5fr 0.5fr;
    gap: 1.5rem;
	grid-template-areas: 
	'contact-img-1'
	'contact-img-2'
	'contact-img-3';
}

#contact-img-1{
	grid-area: contact-img-1;
}
#contact-img-2{
	grid-area: contact-img-2;
}
#contact-img-3{
	grid-area: contact-img-3;
}

fieldset{
	margin: 4%;
}

/*--- media querries --*/
@media only screen and (max-width: 480px){
	body{
		width: 400px;
	}
	
	.banner-img{
		display: none;
	}

	.nav-header{
		display: none;
	}
	
	#index-main{
		display: flex;
		flex-direction: column-reverse;
		margin: auto;
	}
	
	
	#index-header{
		flex-direction: row;
	}
		
	.index-figure{
		float: left;
	}
	
	.index-img{
	
	}
	
	.index-li{
		display:none;
	}
	
	.dropdown-click{
		margin: 5%;
		grid-area: hamburger-menu;
	}
	
	#movie-pc{
		display: none;
	}
	
	#movie-phone{
		display: flex;
	}
	
	/*--- products page changes --*/
		#products-main{
		display: grid;
		grid-template-columns: 4fr 1.5fr;
		grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr; 
		gap: 1em;
		grid-template-areas:  
		'article-5 '
		'article-3 '
		'article-2 '
		'article-1 ';		
	}
	
	#products-article-4{
		display: none;
	}	
	
	#products-article-6{
		display: none;
	}
	
	#products-aside{
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-template-rows: 0.2fr 0.2fr 0.2fr; 
    gap: 1.5rem;
	grid-template-areas: 
	'img-1 '
	'img-2 '
	'img-3 ';
	}
	
	.grid-footer{
		grid-template-columns: 2fr 2fr;
		grid-column-gap: 215px;
	}
	
	.grid-banner-img{
		display: none;
	}
	
	.grid-nav-header{
		display: none;
	}
	
	
	/*-- pricing page changes ---*/
	
	#pricing-main{
		grid-template-columns: 1.5fr 1fr;
		grid-template-rows: 0.5fr 0.5fr 0.5fr;
		grid-template-areas:
		'price-table price-table' 
		'footer footer'
		'price-aside price-aside';
	}
	
	#pricing-article{
		display: none;
	}
	
	/*--- contact page changes --*/
	
	#contact-main{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 0.5fr 0.5fr;	
	grid-template-areas: 
	'form'
	'form'
	'contact-aside';
	}

	#contact-form{
		grid-area: form;
		
	}
	
	
	.form-li{
		width: 250px;
	}
	
	/*--- hamburger menu active --*/
	
	.products-header{
	grid-template-columns: 1.5fr 1fr;
	grid-template-rows: 0.2fr 0.2fr;
	grid-template-areas:
	'title .'
	'title menu';
	}
	
	.dropbutton{
	display: grid;
	}
	
	.dropdown{
		display: inline-block;
	}	
	
	.dropbutton-index{
	display: flex;
	}
	
	.dropdown-index{
		display: flex;
		flex-direction:column;
	}
	
}

/*--- Changes for when tablet resolution --*/
@media only screen and (min-width: 481px) and (max-width: 1179px){
	body{
		width: 800px;
	}
	
	#index-main{
		display: flex;
		flex-direction: column-reverse;
	}
	
	.index-figure{
		float: left;
	}
	
	/*--- products page changes --*/
	
	#products-main{
		display: grid;
		grid-template-columns: 4fr 4fr;
		grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr; 
		gap: 2em;
		grid-template-areas:  
		'article-1 article-2'
		'article-1 article-2'
		'article-3 article-2'
		'article-3 article-5'
		'article-3 article-5'
		'article-3 article-5'
		'article-6 article-6'
		'article-6 article-6';
	}
	
	#products-article-4{
		display: none;
	}
	
	#products-img-3{
		display:none;
	}
	
	#products-aside{
		display: grid;
		grid-template-columns: 2fr 2fr;
		gap: 1.5rem;
		grid-template-areas: 
		'img-1 img-2';
	}
	
	.grid-footer{
		grid-template-columns: 2fr 2fr;
		grid-column-gap: 215px;
	}
	
	/*--- prining page changes --*/
	#pricing-main{
		grid-template-columns: 1.5fr 1fr;
		grid-template-rows: 0.5fr 0.5fr 0.5fr;
		grid-template-areas:
		'pricing-article pricing-article'
		'price-table price-table' 
		'price-aside price-aside';
	}
	
	#pricing-aside{
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
		'price-img-2 price-img-3';
	}
	
	#pricing-img-1{
		display: none;
	}
	
		/*--- contact page changes --*/
	
	#contact-main{
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	grid-template-rows: 0.5fr 0.5fr 0.5fr;	
	grid-template-areas: 
	'form  contact-aside'
	'form  contact-aside'
	'form  contact-aside';
	}

	#contact-form{
	grid-area: form;
	}	
}
